@charset "UTF-8";
/**
 * 维修页面样式
 */
.bg-yellow {
  background: #FFD600;
}

.bg-orange {
  background: #F55928;
}

.eps-create-device-body {
  -webkit-overflow-scrolling: touch;
  width: 100%;
}
.eps-create-device-body .eps-empty-tip-arrow {
  text-align: center;
}
.eps-create-device-body .eps-device-list {
  position: relative;
  z-index: 2;
  margin-top: 0.7246376812rem;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding: 0 0.4830917874rem 0.4830917874rem;
}

.eps-create-device .repairstores-specail .am-input-label.am-input-label-5 {
  height: 0.6763285024rem !important;
}

@media screen and (max-width: 381px) {
  .eps-create-device .repairstores-specail .am-input-label.am-input-label-5 {
    height: 0.6038647343rem !important;
  }
}
.main-c.device-c {
  overflow: auto;
}

.device.eps-repair-supplier-response {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}
.device.eps-repair-supplier-response .noMore-Data {
  margin-top: 0;
}
.device.eps-repair-supplier-response .eps-repair-supr-content {
  position: initial;
}

.eps-repair-supr-content.evaluation {
  position: initial;
}

.evaluation-show-money {
  margin-bottom: 1.2077294686rem;
}
.evaluation-show-money .money-show {
  position: initial !important;
}

.eps-search-form .search-input-w {
  display: block;
  margin-left: 0.5797101449rem;
}

.eps-list-card-wrap.eps-device-list .eps-device-evaluation-list {
  position: relative;
}
.eps-list-card-wrap.eps-device-list .eps-device-evaluation-list .eps-swipe-delete {
  overflow: hidden;
}
.eps-list-card-wrap.eps-device-list .eps-device-evaluation-list:first-child .eps-device-card-select {
  margin-top: 0 !important;
}

.eps-device-card-select {
  position: relative;
  overflow: hidden;
  margin-top: 0.4830917874rem;
}
.eps-device-card-select label {
  font-weight: 400;
}
.eps-device-card-select .checked-btn-wrap {
  position: absolute;
  right: 0.2898550725rem;
  bottom: 0.0966183575rem;
}
.eps-device-card-select:last-child .eps-list-card {
  margin-bottom: 0;
}
.eps-device-card-select .border-line-h.before:before {
  width: 300%;
  left: -0.4830917874rem;
}
.eps-device-card-select .eps-list-card-bgicon {
  position: absolute;
  z-index: 200;
  top: 0.7246376812rem;
}
.eps-device-card-select .eps-item-info-inline .eps-item-info:last-child dt {
  width: 1.4492753623rem;
}

.eps-device-card-select:first-child {
  margin-top: 0;
}

.main-c.it-details .loading-bounce-w {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-c.device-details .loading-bounce-w.fix, .main-c.it-details .loading-bounce-w.fix {
  position: relative !important;
  z-index: 22222 !important;
  margin-top: 0.9661835749rem;
  bottom: initial !important;
  top: initial !important;
}
.main-c.device-details .loading-bounce-w.fix .loading-gif img, .main-c.it-details .loading-bounce-w.fix .loading-gif img {
  width: 80px;
  height: 70px;
}
.main-c.device-details .noMore-Data, .main-c.it-details .noMore-Data {
  font-size: 16px;
  color: #999999;
  text-align: center;
  margin-top: 0.4830917874rem;
  margin-bottom: 0.7246376812rem;
}

.eps-repair-supr-content.device {
  overflow: scroll;
}
.eps-repair-supr-content.device .loading-bounce-w.fix {
  position: absolute !important;
  z-index: 22222 !important;
  margin-top: 20px;
  bottom: initial !important;
  top: initial !important;
}
.eps-repair-supr-content.device .loading-bounce-w.fix .loading-gif img {
  width: 80px;
  height: 70px;
}

.eps-repair-supr-content {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.eps-repair-supr-content .eps-box-wrap {
  width: auto;
  margin: 0.1207729469rem 0.4830917874rem 0.38647343rem;
}
.eps-repair-supr-content .eps-box {
  height: 1.2077294686rem;
  line-height: 1.2077294686rem;
}
.eps-repair-supr-content .eps-box .eps-add-small {
  padding-left: 0.5314009662rem;
}
.eps-repair-supr-content .eps-box .eps-add-small i {
  vertical-align: middle;
}
.eps-repair-supr-content .eps-box .eps-add-small font {
  margin-left: 0.2657004831rem;
  font-size: 0.3381642512rem;
  color: #666666;
}
.eps-repair-supr-content .eps-list-card-wrap {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 0.4830917874rem;
}
.eps-repair-supr-content .eps-list-card-wrap .eps-device-card-select {
  margin-bottom: 0.4830917874rem;
}

.eps-repair-supplier-response.equipment {
  overflow: scroll;
}
.eps-repair-supplier-response.equipment .user-card .user-card-c .user-card-info .user-card-info-i .user-card-val.ellipsis {
  vertical-align: middle;
  line-height: 0.4830917874rem;
}

.root-container.device .root-container-w .todo-btn.showLine {
  position: relative;
}
.root-container.device .root-container-w .todo-btn.showLine:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: inline-block;
  content: ' ';
  width: 200%;
  height: 1px;
  background: #e7e7e7;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.root-container.device .root-container-w .main-c.device-c {
  margin-bottom: 200px;
}

.root-container.device-info-list .device-details {
  padding-bottom: 1.2077294686rem;
}
.root-container.device-info-list .device-details .todo-card.zoomIn.specail-zhailei {
  padding-bottom: 0.4830917874rem;
}
.root-container.device-info-list .device-details .todo-card .todo-card-c .todo-fitting .todo-info-label {
  float: left;
  width: 35%;
  margin-right: 5%;
  color: #999999;
  vertical-align: top;
}
.root-container.device-info-list .device-details .todo-card .todo-info.deviceinfo .todo-info-i.border-line-h.after i {
  display: none;
}
.root-container.device-info-list .device-details .todo-card .todo-info.deviceinfo .deviceinfo-c .todo-info-l {
  width: 100%;
}
.root-container.device-info-list .device-details .todo-card .todo-info.deviceinfo .deviceinfo-c .todo-info-l .todo-info-label {
  width: 19.5%;
}
.root-container.device-info-list .device-details .todo-info.deviceinfo {
  padding-bottom: 0;
}
.root-container.device-info-list .device-details .todo-fitting.deviceFee {
  padding: 0;
}
.root-container.device-info-list .device-details .todo-fitting.deviceFee .todo-fitting-i {
  position: relative;
  padding: 0 0 0.4347826087rem 0;
}
.root-container.device-info-list .device-details .todo-fitting.deviceFee .todo-fitting-i:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  content: ' ';
  width: 200%;
  height: 1px;
  background: #e7e7e7;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.root-container.device-info-list .loading-bounce-w {
  margin-bottom: 0.7246376812rem;
}

.maintenance-details-custom {
  overflow-y: auto;
}

.maintenance-details-wrap {
  padding: 0 0.4830917874rem;
  margin-top: 0.4830917874rem;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title {
  padding: 0.2898550725rem 0 0.38647343rem;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .eps-card-title {
  padding: 0 0 0.2898550725rem 0;
  color: #999999;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .eps-card-title font {
  margin-left: 0.4830917874rem;
  font-size: 0.3381642512rem;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .eps-card-title i {
  float: right;
  margin-right: 0.4830917874rem;
  margin-top: 0;
  vertical-align: middle;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .eps-list-card-bgicon {
  top: 0.5555555556rem;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .eps-card-body {
  padding: 0.2415458937rem 0.4830917874rem 0;
  color: #999999;
  font-size: 0.3381642512rem;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .eps-card-body dt {
  margin-bottom: 0;
  font-weight: 400;
  float: left;
  overflow: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .eps-card-body dt:before {
  display: table;
  content: " ";
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .eps-card-body dt:after {
  content: " ";
  clear: both;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .cost-row {
  height: 0.6038647343rem;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .cost-nums,
.maintenance-details-wrap .eps-list-card.eps-card-with-title .cost-item {
  width: 50%;
  height: 0.6038647343rem;
  line-height: 0.6038647343rem;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .cost-nums dt,
.maintenance-details-wrap .eps-list-card.eps-card-with-title .cost-item dt {
  width: 1.4492753623rem;
  overflow: hidden;
  /*margin-right: pxTorem(16);*/
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .cost-nums dd,
.maintenance-details-wrap .eps-list-card.eps-card-with-title .cost-item dd {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .cost-nums {
  margin: 0.193236715rem 0 0.193236715rem;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .cost-nums dd {
  margin-top: 0.0724637681rem;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .cost-row .cost-item:first-child {
  float: left;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .cost-row .cost-item:last-child {
  float: right;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .cost-row .cost-item:last-child dt {
  width: 1.7874396135rem;
  margin-right: 0.0966183575rem;
  text-align: right;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .cost-other-info {
  margin-top: 0.2657004831rem;
}
.maintenance-details-wrap .eps-list-card.eps-card-with-title .cost-other-info dd {
  margin-left: 2.1739130435rem;
}
.maintenance-details-wrap .parts-form-list {
  margin-top: 0.38647343rem;
  padding-bottom: 1.4492753623rem;
}
.maintenance-details-wrap .parts-form-list .am-list.jw-list .am-list-body {
  padding: 0 !important;
}
.maintenance-details-wrap .parts-form-list .am-list-content {
  display: none !important;
}
.maintenance-details-wrap .parts-form-list .parts-form-item {
  position: relative;
  padding-top: 0.2415458937rem;
  margin-top: 0.2415458937rem;
}
.maintenance-details-wrap .parts-form-list .parts-form-item .icon-close {
  position: absolute;
  right: 0.4830917874rem;
  top: 0.3623188406rem;
  z-index: 200;
}
.maintenance-details-wrap .parts-form-list .parts-form-item .ant-form-item .ant-form-item-control-wrapper {
  border: 0 !important;
}
.maintenance-details-wrap .parts-form-list .parts-form-item .Form-item-c {
  text-align: left !important;
}
.maintenance-details-wrap .parts-form-list .parts-form-item .Form-item-c:after {
  position: absolute;
  left: 90px;
  right: 0;
  bottom: 0;
  display: inline-block;
  content: ' ';
  width: 130%;
  height: 1px;
  background: #e7e7e7;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.maintenance-details-wrap .parts-form-list .parts-form-item .Form-item-c .am-input-item {
  padding-right: 25px !important;
}
.maintenance-details-wrap .parts-form-list .parts-form-item .Form-item-c .am-input-control input {
  text-align: left !important;
}
.maintenance-details-wrap .parts-form-list .parts-form-item .Form-item-c .am-list-extra {
  text-align: left !important;
}
.maintenance-details-wrap .parts-form-list .parts-form-item .Form-item-c .am-list-arrow {
  margin-right: 25px;
}
.maintenance-details-wrap .parts-form-list .parts-form-item:first-child {
  margin-top: 0;
}
.maintenance-details-wrap .ant-form-item .Form-item-w,
.maintenance-details-wrap .ant-form-item .Form-item-w .ant-form-item-label,
.maintenance-details-wrap .maintenance-details-wrap .parts-form-list .parts-form-item .Form-item-c,
.maintenance-details-wrap .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input,
.maintenance-details-wrap .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control,
.maintenance-details-wrap .am-list.jw-list .am-list-body .am-list-item .am-list-line .am-list-extra,
.maintenance-details-wrap .am-list.jw-list .am-list-body .am-list-item .am-list-line {
  height: 0.845410628rem !important;
  line-height: 0.845410628rem !important;
}
.maintenance-details-wrap .ant-form-item .Form-item-w .Form-item-c .am-list-item.am-input-item {
  margin-top: 0;
}
.maintenance-details-wrap .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input {
  padding-top: 0 !important;
}

.maintenance-cost-card {
  box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.12);
  border-radius: 0.193236715rem;
  background: #fff;
}

.eps-create-project .eps-box {
  padding-bottom: 0.9178743961rem;
}
.eps-create-project .eps-box .am-list-line:after {
  position: absolute;
  left: 50px;
  right: 0;
  bottom: 0;
  display: inline-block;
  content: ' ';
  width: 156%;
  height: 1px;
  background: #e7e7e7;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.eps-create-project .eps-box .am-list-line .am-list-extra {
  flex-basis: 75%;
  text-align: left;
  color: #333333;
}
.eps-create-project .eps-box .am-input-label-5 {
  padding: 8px 0 0;
}

.repairstores .am-list-item {
  min-height: 0.4830917874rem !important;
  padding-left: 0.4830917874rem;
}
.repairstores .am-list-item .am-list-line {
  min-height: 0.4830917874rem !important;
  padding-right: 0.4830917874rem;
  padding-top: 0.1207729469rem;
  padding-bottom: 0.1207729469rem;
}
.repairstores .am-list-item .am-list-line .am-list-arrow {
  width: 0.193236715rem;
  height: 0.3140096618rem;
  margin-top: 0rem;
}
.repairstores .am-list-item .am-list-content {
  color: #999999 !important;
  font-size: 0.3381642512rem !important;
  font-weight: 400;
  line-height: 0.845410628rem !important;
  padding: 0 !important;
}
.repairstores .am-list-item .am-list-extra {
  font-size: 0.38647343rem !important;
  padding-top: 0rem !important;
  padding-bottom: 0 !important;
}

.eps-projects-search .eps-device-card-select .checked-btn-wrap {
  top: 0.2415458937rem;
  right: 0.2415458937rem;
}

.eps-create-it input:disabled {
  color: #494949 !important;
  opacity: 1 !important;
}
.eps-create-it .eps-create-it-body {
  padding-top: 0.4830917874rem;
  /*margin-bottom: pxTorem(50);*/
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.eps-create-it .eps-create-it-body .eps-box-wrap {
  margin-bottom: 0.7729468599rem;
}
.eps-create-it .eps-create-it-body .eps-box-wrap .am-input-item label {
  margin-bottom: 0;
}
.eps-create-it .eps-create-it-body .eps-box-wrap .label-required {
  position: relative;
}
.eps-create-it .eps-create-it-body .eps-box-wrap .label-required i.icon-required {
  right: 0.2415458937rem;
  top: 0.1207729469rem;
}
.eps-create-it .eps-create-it-body .upload-file {
  box-shadow: none;
}
.eps-create-it .eps-create-it-body .eps-box-with-addbtn {
  min-height: 4.6859903382rem;
}
.eps-create-it .eps-create-it-body .eps-cs-otherinfo {
  position: absolute;
  bottom: 0;
  max-width: 100%;
}
.eps-create-it .eps-create-it-body .eps-cs-otherinfo.eps-cs-relative {
  position: relative;
}
.eps-create-it .eps-create-it-body .eps-cs-otherinfo.eps-cs-fix-absolute {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.eps-create-it .eps-create-it-body .eps-cs-fileupload {
  padding: 0;
}
.eps-create-it .eps-create-it-body .am-input-item {
  min-height: 0.845410628rem;
  height: 0.845410628rem;
  padding-left: 0.4830917874rem !important;
  padding-right: 0.3623188406rem !important;
}
.eps-create-it .eps-create-it-body .am-input-item .am-input-label {
  width: 2.2946859903rem !important;
  font-size: 0.3381642512rem !important;
  color: #999999 !important;
  margin-right: 0;
}
.eps-create-it .eps-create-it-body .am-input-item .am-input-label i {
  position: absolute;
  right: 0.4830917874rem;
  top: 0.2415458937rem;
}
.eps-create-it .eps-create-it-body .am-input-item:after {
  position: absolute;
  left: 2.6570048309rem;
  right: 0;
  bottom: 0;
  display: inline-block;
  content: ' ';
  width: 130%;
  height: 1px;
  background: #e7e7e7;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.eps-create-it .eps-create-it-body .am-input-item.eps-it-tsi:after {
  display: none;
}
.eps-create-it .eps-create-it-body .am-input-control {
  font-size: 0.3381642512rem !important;
}
.eps-create-it .eps-create-it-body .am-input-control input {
  font-size: 0.3381642512rem !important;
  color: #494949 !important;
}
.eps-create-it .eps-create-it-body .eps-empty-tip-arrow {
  height: 2.8985507246rem;
  margin: 0;
}
.eps-create-it .eps-create-it-body .am-list-item.eps-form-memo {
  margin-left: 0 !important;
  margin-right: 0 !important;
  line-height: 0.7729468599rem;
}
.eps-create-it .eps-create-it-body .am-list-item.eps-form-memo .am-input-label {
  width: 2.6570048309rem;
}
.eps-create-it .eps-create-it-body .am-list-item.eps-form-memo:after {
  left: 2.6570048309rem !important;
}
.eps-create-it .eps-create-it-body .upload-file {
  position: relative;
  bottom: 0;
}
.eps-create-it .eps-create-it-body .eps-cs-fileupload {
  /*margin-top: -(pxTorem(40));*/
}
.eps-create-it .am-list-body {
  padding: 0 0.7246376812rem !important;
  border: 0 !important;
}
.eps-create-it .am-list-body .am-list-content {
  color: #999999 !important;
  font-weight: 400 !important;
}
.eps-create-it .eps-cs-fileupload {
  padding: 0;
}
.eps-create-it .eps-cit-cost {
  background: #fff;
  padding-top: 0.1207729469rem;
  /*height: pxTorem(140);*/
  padding-bottom: 0.1207729469rem;
  /*margin-bottom: pxTorem(10);*/
}
.eps-create-it .eps-cit-cost .cost-form-inline {
  /*min-height: pxTorem(50);*/
  height: 0.845410628rem;
  line-height: 0.845410628rem;
}
.eps-create-it .eps-cit-cost .cost-form-inline .eps-inline:first-child {
  float: left;
  width: 50%;
}
.eps-create-it .eps-cit-cost .cost-form-inline .eps-inline:last-child {
  float: right;
  width: 45%;
  height: 0.845410628rem !important;
  min-height: 0.845410628rem !important;
  position: relative;
}
.eps-create-it .eps-cit-cost .cost-form-inline .eps-inline:last-child .am-list-item {
  height: 0.845410628rem !important;
  min-height: 0.845410628rem !important;
}
.eps-create-it .eps-cit-cost .cost-form-inline .eps-inline:last-child:after {
  position: absolute;
  left: 1.4492753623rem;
  right: 0;
  bottom: 0;
  display: inline-block;
  content: ' ';
  width: 115%;
  height: 1px;
  background: #e7e7e7;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.eps-create-it .eps-cit-cost .cost-form-inline .eps-inline .am-list.jw-list .am-list-body .am-list-item .am-list-line .am-list-content,
.eps-create-it .eps-cit-cost .cost-form-inline .eps-inline .am-list.jw-list .am-list-body .am-list-item .am-list-line .am-list-extra {
  height: 0.845410628rem !important;
  min-height: 0.845410628rem !important;
}
.eps-create-it .eps-cit-cost .cost-form-inline .am-input-item.jw-inline-specail {
  width: 55% !important;
  padding-right: 0 !important;
}
.eps-create-it .eps-cit-cost .cost-form-inline .am-input-item.jw-inline-specail .am-input-label {
  width: 2.8985507246rem !important;
}
.eps-create-it .eps-cit-cost .cost-form-inline .am-input-item.jw-inline-specail:after {
  left: 3.1400966184rem !important;
  right: 0;
}
.eps-create-it .eps-cit-cost .am-input-item.jw-inline-specail2 .am-input-label {
  width: 2.8985507246rem !important;
}
.eps-create-it .eps-cit-cost .am-input-item.jw-inline-specail2:after {
  left: 3.1400966184rem !important;
  right: 0;
}

.eps-it-list {
  padding: 0 0.4830917874rem;
  margin-bottom: 0.38647343rem;
}
.eps-it-list .eps-list-inline .eps-list-item {
  width: 50%;
}
.eps-it-list .eps-list-inline .eps-list-item font {
  color: #333333;
}
.eps-it-list .eps-list-inline .eps-list-item font.ellipsis {
  max-width: 1.8115942029rem;
}
.eps-it-list .eps-list-inline .eps-list-item label {
  margin-right: 0.2898550725rem;
}

.eps-maintenance-details-it .maintenance-details-wrap .eps-list-card-bgicon {
  top: 0.6763285024rem;
}
.eps-maintenance-details-it .ant-form-item .Form-item-w,
.eps-maintenance-details-it .ant-form-item .Form-item-w .ant-form-item-label,
.eps-maintenance-details-it .maintenance-details-wrap .parts-form-list .parts-form-item .Form-item-c,
.eps-maintenance-details-it .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input,
.eps-maintenance-details-it .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control,
.eps-maintenance-details-it .am-list.jw-list .am-list-body .am-list-item .am-list-line .am-list-extra,
.eps-maintenance-details-it .am-list.jw-list .am-list-body .am-list-item .am-list-line {
  height: 0.845410628rem !important;
  line-height: 0.845410628rem !important;
}
.eps-maintenance-details-it .ant-form-item .Form-item-w .Form-item-c .am-list-item.am-input-item {
  margin-top: 0;
}
.eps-maintenance-details-it .am-list.jw-list .am-list-body .am-list-item.am-input-item .am-input-control input {
  padding-top: 0 !important;
}
.eps-maintenance-details-it .eps-list-card-bgicon {
  top: 0.5555555556rem;
}

.header.header-with-memo .header-bg-2 {
  top: 100%;
}
.header.header-with-memo .header-bg-2.mgt-large {
  top: 3.115942029rem;
}
.header.header-with-memo.xheight .header-bg-2 {
  top: 100%;
}

.eps-modal.fix .eps-dialog-w {
  top: 50%;
}

.eps-device-card-select.itparts-card .checked-btn-wrap {
  bottom: 0.1449275362rem;
}

.eps-create-it .eps-create-it-body
.eps-create-project .repairstores .eps-placeholder {
  font-size: 0.3381642512rem;
  color: #b0b0b0;
}
.eps-create-it .eps-create-it-body
.eps-create-project .repairstores .am-input-label .label-required {
  position: relative;
}
.eps-create-it .eps-create-it-body
.eps-create-project .repairstores .am-input-label .label-required i.icon-required {
  position: relative;
  top: -0.1207729469rem;
  right: -0.1207729469rem;
}

.repair-it-list .header-adapt .header-bg-2-adapt {
  right: 0;
}

.todo-card-it .border-line-h.after:last-child:after {
  display: none;
}
.todo-card-it .todo-fitting .border-wrap {
  padding: 0 0.4830917874rem;
}
.todo-card-it .todo-fitting .border-line-h:before {
  top: -0.4347826087rem;
}
.todo-card-it .todo-info-block span.todo-info-label {
  width: 22% !important;
}
.todo-card-it .todo-info-block span.todo-info-val {
  width: 75% !important;
}
.todo-card-it .todo-fitting-info.fitting-info-block .todo-fitting-msg {
  width: 100% !important;
}
.todo-card-it .todo-fitting-info.fitting-info-block .todo-fitting-msg .todo-info-val.ellipsis {
  width: 65% !important;
}
.todo-card-it .todo-fitting-info.custom-specail .todo-fitting-msg {
  width: 100% !important;
}

.my-fix-header .header .header-bg-2-adapt {
  right: 0;
}

.eps-parts-search .eps-list-card .eps-list-item.eps-lsparts-item label {
  width: 2.5845410628rem;
  margin-right: 0;
  float: left;
}
.eps-parts-search .eps-list-card .eps-list-item.eps-lsparts-item font {
  display: block;
  float: left;
  max-width: 5.0724637681rem;
}
.eps-parts-search .eps-box-with-owner {
  padding: 0.4830917874rem;
}

.eps-maintenance-details-device .eps-second-body {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 0.4830917874rem;
}

.am-list.jw-list .am-list-body .am-list-item.am-input-item.edit-equipment-it-input .am-input-control input {
  line-height: initial !important;
}
.am-list.jw-list .am-list-body .am-list-item.am-input-item.edit-equipment-it-input .am-input-control input::-webkit-input-placeholder, .am-list.jw-list .am-list-body .am-list-item.am-input-item.edit-equipment-it-input .am-input-control input:-moz-placeholder, .am-list.jw-list .am-list-body .am-list-item.am-input-item.edit-equipment-it-input .am-input-control input::-moz-placeholder, .am-list.jw-list .am-list-body .am-list-item.am-input-item.edit-equipment-it-input .am-input-control input:-ms-input-placeholder {
  padding-top: 0.2898550725rem !important;
}

.am-list.jw-list .am-list-body .am-list-item.am-input-item.edit-fitting-input .am-input-control input {
  line-height: initial !important;
}

.todo-card-it span.todo-info-val {
  vertical-align: top;
}

.loading-bounce-main {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -15%;
}
.loading-bounce-main .loading-gif {
  position: relative !important;
  margin: 0 auto !important;
  text-align: center !important;
  top: 0 !important;
  left: 0 !important;
}
.loading-bounce-main .loading-bounce-tip {
  font-size: 0.3381642512rem;
  color: #999999;
  text-align: center;
  margin: 0.3623188406rem auto 0;
}
